* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-gradient: linear-gradient(to right,#FC4A1A,#F7B733);
    --brand-color-primary: #F7B733;
    --brand-color-secondary: #FC4A1A;

    --background-color: #09090B;
    --surface-color: #18181B;
    --stroke-color: #27272A;

    --text-color-secondary: #A1A1AA;
    --text-color-primary: #F4F4F5;

    --font-family: "Inter", sans-serif;

    --text: 400 1rem/160% var(--font-family);
    --text-sm: 500 0.875rem/100% var(--font-family);
}

body {
    background: var(--brand-gradient);
}
